<div class="info_table_cells" (click)="toggleVisible()">
  <div class="info_table_cell">{{ route.id }}</div>
  <div class="info_table_cell">{{ route.start.toString() }}</div>
  <div class="info_table_cell">{{ route.end.toString() }}</div>
</div>
<div class="info_table_details" [class.active]='detailsVisible'>
  <div class="info_table_detail">
    <div class="info_table_field text_field">ID</div>
    <div class="info_table_field text_value">{{ route.id }}</div>
  </div>
  <div class="info_table_detail">
    <div class="info_table_field text_field">Start</div>
    <div class="info_table_field text_value">{{ route.start.toString() }}</div>
  </div>
  <div class="info_table_detail">
    <div class="info_table_field text_field">End</div>
    <div class="info_table_field text_value">{{ route.end.toString() }}</div>
  </div>
  <app-map *ngIf=detailsVisible [orders]=[route]></app-map>
</div>