<div style="width: 100%; margin: 10px;">
  <mat-form-field style="display: block">
    <input matInput placeholder="ID" readonly [value]="route.id">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="Start" readonly [value]="route.start.toString()">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="End" readonly [value]="route.start.toString()">
  </mat-form-field>
  <app-map [orders]=[route] [disableTraking]=true></app-map>
</div>