<div style="width: 100%; margin: 10px;">
    <mat-form-field style="display: block">
        <input matInput placeholder="Model" readonly [value]="truck.model.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Year" readonly [value]="truck.year.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Mileage" readonly [value]="truck.mileage.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Height" readonly [value]="truck.height.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Width" readonly [value]="truck.width.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Length" readonly [value]="truck.length.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Mass" readonly [value]="truck.mass.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Load Capacity" readonly [value]="truck.load_capacity.toString()">
    </mat-form-field>
    <mat-form-field style="display: block">
        <input matInput placeholder="Axis Number" readonly [value]="truck.axis_number.toString()">
    </mat-form-field>
</div>