/* .info_table .info_table_row {
    display: block;
    border-bottom: 1px solid #9d9d9d;
}

.info_table .info_table_row.link {
    border-bottom: none;
}


.info_table .info_table_row:hover {
    display: block;
    border-bottom: 1px solid black;
}

.info_table .info_table_row.link:hover {
    border-bottom: none;
}

.info_table .info_table_cell {
    width: 33%;
    position: relative;
    height: 40px;
    display: inline-block;
    padding: 5px;
}

.info_table .info_table_head {
    font-weight: bold;
    display: block;
    border-bottom: 2px solid #9d9d9d;
} */

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .add_button {
      width: 100px;
      height: 100px;
      opacity: 0.5;
      font-size: 40pt;
      position: fixed;
      bottom: 30px;
      right: 30px;
  }

  .add_button:hover {
    opacity: 1;
}