<!-- <div class="info_table">
  <div class="info_table_head">
    <div class="info_table_cell">ID</div>
    <div class="info_table_cell">Start Coordinates</div>
    <div class="info_table_cell">End Coordinates</div>
  </div>
  <div class="info_table_row" *ngFor="let item of orders">
    <app-route [route]=item></app-route>
  </div>
  <div class="info_table_row link">
    <app-newroute></app-newroute>
  </div>
</div> -->
<table style="width:75%; float:right; height: 100%;" mat-table multiTemplateDataRows [dataSource]="dataSource">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column].toString()}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-route *ngIf="element == expandedElement" style="width: 100%" [route]=element></app-route>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<button class="add_button" (click)="openDialog()" mat-fab color="primary">+</button>