<div class="link" (click)="show()">Add new order...</div>
<div class="info_table_details" [class.active]='visible'>
  <mat-form-field style="display: block">
    <input matInput placeholder="ID" (blur)="order.id = $event.target.value" [value]="order.id">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="Start - lat" (blur)="order.start.lat = $event.target.value" [value]="order.start.lat">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="Start - lng" (blur)="order.start.lng = $event.target.value" [value]="order.start.lng">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="End - lat" (blur)="order.end.lat = $event.target.value" [value]="order.end.lat">
  </mat-form-field>
  <mat-form-field style="display: block">
    <input matInput placeholder="End - lng" (blur)="order.end.lng = $event.target.value" [value]="order.end.lng">
  </mat-form-field>
  <div class="button_panel">
    <button class="button" mat-raised-button (click)="save()" >Save</button>
    <button class="button" mat-raised-button (click)="Cancel()">Cancel</button>
  </div>
</div>