.link {
    color: blue;
    text-decoration: underline;
}

.info_table_row {
    display: block;
}

.info_table_row:hover {
    display: block;
}

.info_table_cell {
    width: 33%;
    position: relative;
    height: 40px;
    display: inline-block;
    padding: 5px;
}

.info_table_details {
    height: 0px;
    overflow: hidden;
    display: block;
    transition: height 0.15s ease-out;
}

.info_table_details.active {
    height: 300px;
    padding: 20px;
}

.info_table_details .info_table_detail {
    display: block;
    height: 40px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.info_table_details .info_table_detail .info_table_field.text_field {
    position: absolute;
    width: 25%;
    padding: 10px;
}

.info_table_details .info_table_detail .info_table_field.text_value {
    position: absolute;
    left: calc(25% + 10px);
    min-width: calc(100% - 25% - 10px);
    right: 0%;
    border-radius: 5px;
    border: 1px solid;
    height: 40px;
    padding: 10px;
}

.info_table_details .info_table_detail .info_table_field.text_value:focus {
    border-radius: 5px;
    border: 1px solid;
}

.button_panel {
    margin-top: 20px;
    margin-left: 50px;
    display: block;
}

.button_panel .button {
    display: inline-block;
    width: 200px;
    border: 1px solid #9d9d9d;
    text-align: center;
    padding: 5px;
    border: 1px solid ;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.button_panel .button:hover {
    background: #9d9d9d;
}