<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand logo' [routerLink]="['/map']"></a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']"  [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="route_icon" [routerLink]="['/']">
                        <span class='glyphicon'></span> Routes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a class="driver_icon" [routerLink]="['/drivers']">
                        <span class='glyphicon'></span> Drivers
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a class="truck_logo" [routerLink]="['/trucks']">
                        <span class='glyphicon'></span> Trucks
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a class="map_logo" [routerLink]="['/map']">
                        <span class='glyphicon'></span> Map
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
